body { /* Общие стили для всего документа*/
    font-family: Arial, sans-serif;
    background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card { /* Стили для карточек */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 350px; /* Фиксированная высота */
    text-align: center;
    transition: transform 0.2s ease-in-out;

}
.card:hover { /* Стиль при наведении на карточку*/
    transform: translateY(-20px);
    box-shadow: 0 4px 10px rgba(1, 0, 0, 0.5);
}

.card-photo { /* Стиль для фото */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    margin: 5px 0;
    color: #555;
}
